.settings-button-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 1vh;
    display: flex;
    flex-wrap: row;
    flex

    .btn {
        margin: 0px 10px;
    }

    .delay-settings {
        position: relative;

        .delay-label {
            width: 3em;
            padding-top: 0.5em;
        }
    }
}

.sort-button-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    .btn {
        margin: 5px 10px;
    }
}

.bars-container {
    width: 80%;
    margin-left: 10%;
    height: 60vh;
    display: flex;
    flex-direction: row;


}
